html{
    background: rgb(11,11,11);
    background: linear-gradient(90deg, rgba(11,11,11,1) 0%, rgba(61,61,69,1) 35%, rgba(52,55,55,1) 100%);
    
}
.conteiner{
    display: flex;
    flex-direction: row;
    background: rgb(11,11,11);
    background: linear-gradient(90deg, rgba(11,11,11,1) 0%, rgba(61,61,69,1) 35%, rgba(52,55,55,1) 100%);
    height: auto;
    width: auto;
    margin-top: -6px;
}
.titulo{
    height: auto;
    background-color:#0b0b0b;
    margin-top: 0px;

}
.titulo h1{
    font-size: 50px;
    margin-left: 60px;
    color: white;
}

.cformulario{
    margin-left: 40px;
    width: 35%;
    margin-top: 30px;
    background-color: #282727;
    border-radius: 20px;
    margin-bottom: 40px;
    border: 0.5px white solid;
}


.cusuarios{
    margin-left: 30px;
    width: 50%;
    height: auto;
    margin-top: 30px;
    
}
.cusuarios h2{
    color: white;
}

.cusuarios table {
    width: 800px;
    margin-top: 20px;
    
    
}
.cusuarios table thead{
    background-color: black;
    color: white;
    
}

.formulario, .formulario2{
    width: 80%;
    margin: auto;
}

.formulario, .formulario2 h2{
    text-align: center;
    margin-top: 10px;
    color: white;
}

.formulario form{
    margin-top: 20px;
}
.formulario form button{
    margin-left:0px;
    margin-bottom: 20px;
}
.formulario2 form label{
    color: white;
}
.formulario2 form{
    margin-top: 20px;
}
.botones button{
    margin-left: 10px;
}
.bot{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 80%;
    margin-left: 40px;
    
}
.bot button{
    margin-left: 20px;
}
.librosConteiner{
    border-radius: 20px;
}

.librosConteiner h2{
    color: white;
    text-align: center;
    letter-spacing: 1.5px;
}
.librosConteiner h3{
    text-align: center;
    color: white;
    font-size: 25px;
    margin-top: 20px;
}

.tablaLibros{
    border: 3px black solid;
    border-radius: 20px ;
    margin-top: 40px;
    width: 90%;
    height: auto;
    margin-left: 20px;
}

.tablaLibros td, th {
    border: 1px black solid;
}

.librosConteiner button {
    margin-top: 35px;
    margin-left: 195px;
    margin-bottom: 20px;

}

.librosConteiner h2{
    text-align: center;
    margin-top: 10px;
}
.alert{
    position: absolute;
    margin-left: 400px;
    margin-top: -300px;
}
.alert button{
    margin-left: 190px;
}

.linksconteiner{
    display: flex;
    flex-direction: row;
    background-color: black;
    height: 60px;
    color: white;
    text-decoration: none;
    
    
}
.linksconteiner div{
    margin-left: 55px;
    text-decoration: none;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

.tituloprincipal{
    width:100%;
    height: 100%;
    background: rgb(11,11,11);
    background: linear-gradient(90deg, rgba(11,11,11,1) 0%, rgba(61,61,69,1) 35%, rgba(52,55,55,1) 100%);
    display: flex;
    flex-direction: row;
}

.divh1{
    width: 40%;
    height: 50%;
    margin-top: 200px;
    margin-left: 100px;
}
.divh1 h1{
    font-size: 90px;
    color: white;
}