table{
    width: 100%;
    height: auto;
    background-color: grey;
    color: black;
    margin-left: -60px;
    margin-top: 60px;
    
}
table tr{
    margin-left: 50px;

}
.botones{
    width: 35%;
    color: white;
    
}
.botones button{
    margin-left: 10px;
}

.w-75{
    margin-left: 30px;
    margin-top: 30px;
}

